body {
width:980px;
margin:0 auto;
}
#A {
height:150px;
background-color:#009b9f;
}
#B{
width:250px;
min-height:500px;
height:auto;
background-color:#009b9f;
float:left;
margin-top:10px;
}
#C { 
margin-left:260px;
width:720px;
min-height:500px;
height:auto;
background-color:#009b9f;
margin-top:10px;
}
#D { 
margin-top:10px;
width:980px;
height:100px;
background-color:#009b9f;
}
